.App {
}

.App-header {
  margin: 16px;
  margin-bottom: 32px;
}

.App-header-title {
  padding-left: 1em;
  font-weight: 300;
}

.App-row {
  margin: 32px;
  margin-top: 54px;
}

.App-textarea {
  width: 100%;
  max-width: 800px;
  height: 12em;
  font-size: large;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
